@{
  Layout = "_Layout";
}
  @using Parcels.Models
<div class="container">
  <h1>Your Shipping Cost:</h1>
  <p>For your package of @Model.Length by @Model.Width by @Model.Height inches with weight of @Model.Weight lbs, the cost of shipping your package is:</p>
  <p>$@Model.CostToShip()</p>
  <a href="/">Return To Home Page</a>
</div>

