<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Welcome to Parcels and Packages!</h1>
    <p>We make sure you can ship your packages at the lowest possible cost.</p>
    <a href="/form">Enter parcel information</a>
  </body>
</html>